{% extends 'main.html' %}
{% load static %}
{% block home %}
    <title>Poradnik wspinacza</title>
{% endblock %}
{% block navigation %}
{% include 'navigation.html' with categories=categories %}
{% endblock %}
{% block content %}
    {% block slider %}
        {% include 'slider.html' with newest_posts=newest_posts %}
    {% endblock %}

    {% block categories %}
        {% include 'categories.html' with categories=categories %}
    {% endblock %}

    {% block gallery %}
        {% include 'gallery.html' with gallery=gallery %}
    {% endblock %}

    {% block licencjat %}
        {% include 'licencjat.html' %}
    {% endblock %}

{% endblock %}