<section class="mbr-section mbr-parallax-background col-undefined" id="content5-8" data-rv-view="291" style="background-image: url(http://wierzba.wzks.uj.edu.pl/~15_krzysztofik/Licencjat%20demo/assets/images/austin-schmid-134030-unsplash-2000x1333.jpg); padding-top: 9rem; padding-bottom: 9rem;">
    <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(255, 255, 255);"></div>
    <div class="container">
        <h3 class="mbr-section-title display-2">Praca licencjacka</h3>
        <div class="lead">
            <p>Autorką niniejszego serwisu jest Zuzanna Krzysztofik.</p>
            <p>Serwis ten stanowi integralną część pracy licencjackiej
                (kierunek: Elektroniczne Przetwarzanie Informacji),
                przygotowanej pod kierunkiem dr. Piotra Śliwińskiego na Wydziale Zarządzania i Komunikacji Społecznej
                Uniwersytetu Jagiellońskiego.</p>
</div>
    </div>
</section>