{% load static %}
<section id="dropdown-menu-0" data-rv-view="262">

    <nav class="navbar navbar-dropdown transparent navbar-fixed-top bg-color">

        <div class="container">

            <div class="navbar-brand">
                <a href="{% url 'index' %}" class="navbar-logo"><img src="{% static "assets/images/logo.png" %}" alt=""></a>
                <a class="text-black" href="{% url 'index' %}">PORADNIK WSPINACZA</a>
            </div>

            <button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                <div class="hamburger-icon"></div>
            </button>

            <ul class="nav-dropdown collapse pull-xs-right navbar-toggleable-sm nav navbar-nav" id="exCollapsingNavbar">

            <li class="nav-item"><a class="nav-link link" href="{% url 'index' %}">Strona główna</a></li>

            <li class="nav-item dropdown"><a class="nav-link link dropdown-toggle" data-toggle="dropdown-submenu" href="#" aria-expanded="false">Kategorie</a>
                    <div class="dropdown-menu">
                        {% for category in categories %}
                            <a class="dropdown-item" href="{% url 'category' category_id=category.id %}">{{ category.name }}</a>
                        {% endfor %}
                    </div>
            </li>
            <li class="nav-item dropdown open"><a class="nav-link link dropdown-toggle" data-toggle="dropdown-submenu" href="#" aria-expanded="true">Zapytaj instruktora</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'question' %}">Zadaj pytanie</a>
                    <a class="dropdown-item" href="{% url 'questionanswers' %}">Pytania i odpowiedzi</a></div>
            </li>
            <li class="nav-item dropdown open"><a class="nav-link link dropdown-toggle" data-toggle="dropdown-submenu" href="#" aria-expanded="true">O projekcie</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'project' %}">Opis projektu</a>
                    <a class="dropdown-item" href="{% url 'sources' %}">Źródła informacji</a></div>
            </li>
            </ul>

        </div>

    </nav>

</section>
