{% block slider %}
<section class="mbr-slider mbr-section mbr-section__container carousel slide mbr-section-nopadding mbr-after-navbar" data-ride="carousel" data-keyboard="false" data-wrap="true" data-interval="5000" id="slider-1" data-rv-view="250" style="background-color: rgb(255, 255, 255);">
    <div>
        <div>
            <div>
                <ol class="carousel-indicators">
                    <li data-app-prevent-settings="" data-target="#slider-1" data-slide-to="0" class="active"></li><li data-app-prevent-settings="" data-target="#slider-1" data-slide-to="1"></li><li data-app-prevent-settings="" data-target="#slider-1" class="" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    {% for post in newest_posts %}
                        <div class="mbr-section carousel-item dark center mbr-section-full {% if forloop.first %}active{% endif %}" style="background-image: url({{ post.picture.url }});">
                            <div class="mbr-table-cell">
                             <div class="mbr-overlay" style="opacity: 0.6;"></div>
                                <div class=" container">
                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-1">
                                            <h2 class="mbr-section-title display-1">{{ post.title }}</h2>
                                            <p class="lead">{{ post.brief }}</p>

                                            <div> <a class="btn btn-lg btn-secondary-outline" href="{% url 'article' category_id=post.category.id post_id=post.id %}">Czytaj dalej...</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>

                <a data-app-prevent-settings="" class="left carousel-control" role="button" data-slide="prev" href="#slider-1">
                    <span class="icon-prev" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a data-app-prevent-settings="" class="right carousel-control" role="button" data-slide="next" href="#slider-1">
                    <span class="icon-next" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>
        {% endblock %}