{% extends 'main.html' %}
{% load static %}

{% block home %}
    <title>Źródła informacji</title>
{% endblock %}
{% block navigation %}
{% include 'navigation.html' with categories=categories %}
{% endblock %}
{% block content %}

    <section class="mbr-section mbr-section-small mbr-parallax-background mbr-after-navbar" id="msg-box2-d" data-rv-view="143" style="background-image: url(http://wierzba.wzks.uj.edu.pl/~15_krzysztofik/Licencjat%20demo/assets/images/austin-schmid-134030-unsplash-2000x1333.jpg); padding-top: 4.5rem; padding-bottom: 4.5rem;">
        <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(230, 224, 220);"></div>
    </section>

    <section class="mbr-section mbr-section-nopadding" id="msg-box4-j" data-rv-view="146" style="background-color: rgb(255, 255, 255); padding-top: 0rem; padding-bottom: 0rem;">
    {% block breadcrumbs %}
        <div class="container">
            <div class="col-sm-8 mbr-inner-padding mbr-table-cell-lg">
                <p><a href="{% url 'index' %}">Strona główna</a> &gt; O projekcie &gt; Źródła informacji</p>
            </div>
        </div>
    {% endblock %}
    </section>
    {% block article %}

<section class="mbr-section mbr-section__container mbr-section__container--middle" id="content1-10" data-rv-view="352">
    <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h3 class="mbr-section-title display-4">Źródła informacji</h3>
                    </div>
                </div>
            </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 lead">
                <b>Źródła drukowane:</b>
<ol>
 	<li style="font-weight: 400;"><span style="font-weight: 400;">Asnyk A., </span><i><span style="font-weight: 400;">Ranek w górach</span></i><span style="font-weight: 400;">, w: tegoż, </span><i><span style="font-weight: 400;">Wiersze</span></i><span style="font-weight: 400;">, Warszawa, Czytelnik, 1961.</span></li>
 	<li style="font-weight: 400;"><span style="font-weight: 400;">Bartyzel M., </span><i><span style="font-weight: 400;">Getting things programmed. Droga do efektywności</span></i><span style="font-weight: 400;">, Gliwice, Helion, 2016.</span></li>
 	<li style="font-weight: 400;"><i><span style="font-weight: 400;">Góry. Wolność i przygoda. Od trekkingu do alpinizmu</span></i><span style="font-weight: 400;">, praca zbior., red. R. C. Eng, tłum. T. Kliś, wyd. III rozszerz., Łódź, Galaktyka, 2014.</span></li>
 	<li style="font-weight: 400;"><span style="font-weight: 400;">Hörst E. J., </span><i><span style="font-weight: 400;">Trening wspinaczkowy</span></i><span style="font-weight: 400;">, tłum. T. Kliś, K. Sas-Nowosielski, Warszawa, Wydawnictwo RM, 2014.</span></li>
 	<li style="font-weight: 400;"><span style="font-weight: 400;">Kaczmarek B., Kaczmarek Ł., </span><i><span style="font-weight: 400;">Trening uzupełniający dla wspinaczy</span></i><span style="font-weight: 400;">, Kraków, Góry Books, 2015.</span></li>
 	<li style="font-weight: 400;"><span style="font-weight: 400;">Schubert P., </span><i><span style="font-weight: 400;">Bezpieczeństwo i ryzyko w skale i lodzie, t. I</span></i><span style="font-weight: 400;">, tłum. P. Waworski, Warszawa, Sklep Podróżnika, 2011.</span></li>
 	<li style="font-weight: 400;"><span style="font-weight: 400;">Szymborska W., </span><i><span style="font-weight: 400;">Z nieodbytej wyprawy w Himalaje</span></i><span style="font-weight: 400;">, w: tejże, </span><i><span style="font-weight: 400;">Wiersze wybrane,</span></i><span style="font-weight: 400;"> Kraków, Wydawnictwo a5, 2000.</span></li>
 	<li style="font-weight: 400;"><i><span style="font-weight: 400;">100 Porad Gór. Tom I</span></i><span style="font-weight: 400;">, praca zbior., red. P. Drożdż, Ł. Ziółkowski, Kraków, Góry Books, 2011.</span></li>
 	<li style="font-weight: 400;"><i><span style="font-weight: 400;">100 Porad Gór. Tom II</span></i><span style="font-weight: 400;">, praca zbior., red. P. Drożdż, Ł. Ziółkowski, Kraków, Góry Books, 2012.</span></li>
</ol>
&nbsp;

<b>Źródła internetowe:</b>
<ol>
 	<li style="font-weight: 400;"><span style="font-weight: 400;">8academy, </span><i><span style="font-weight: 400;">Kończę bezpiecznie</span></i><span style="font-weight: 400;">, praca zbior. [online] </span><a href="http://8a.pl/8academy/koncze-bezpiecznie/"><span style="font-weight: 400;">http://8a.pl/8academy/koncze-bezpiecznie/</span></a><span style="font-weight: 400;">, [dostęp: 21.05.2018].</span></li>
 	<li style="font-weight: 400;"><i><span style="font-weight: 400;">Django Girls Tutorial, </span></i><span style="font-weight: 400;">praca zbior. [online] </span><a href="https://tutorial.djangogirls.org/pl/"><span style="font-weight: 400;">https://tutorial.djangogirls.org/pl/</span></a><span style="font-weight: 400;">, &nbsp;[dostęp: 21.05.2018].</span></li>
 	<li style="font-weight: 400;"><span style="font-weight: 400;">Django Software Foundation, </span><i><span style="font-weight: 400;">Django documentation</span></i><span style="font-weight: 400;"> [online] </span><a href="https://docs.djangoproject.com/en/2.0/"><span style="font-weight: 400;">https://docs.djangoproject.com/en/2.0/</span></a><span style="font-weight: 400;">, [dostęp: 21.05.2018].</span></li>
 	<li style="font-weight: 400;"><span style="font-weight: 400;">Granowski D.,</span><i><span style="font-weight: 400;"> Style wspinaczkowe we wspinaniu sportowym i górskim – OS,</span></i><span style="font-weight: 400;">&nbsp;</span><i><span style="font-weight: 400;">FL, RP, PP i nie tylko</span></i><span style="font-weight: 400;"> [online] </span><a href="http://drytooling.com.pl/serwis/art/artykuly/994-style-wspinaczkowe-sport-gory"><span style="font-weight: 400;">http://drytooling.com.pl/serwis/art/artykuly/994-style-wspinaczkowe-sport-gory</span></a><span style="font-weight: 400;">, [dostęp: 21.05.2018].</span></li>
 	<li style="font-weight: 400;"><span style="font-weight: 400;">Krzysztofik Z., </span><i><span style="font-weight: 400;">Chcę zacząć się wspinać!</span></i><span style="font-weight: 400;"> [online] </span><a href="https://ipw.info.pl/chce-zaczac-sie-wspinac/"><span style="font-weight: 400;">https://ipw.info.pl/chce-zaczac-sie-wspinac/</span></a><span style="font-weight: 400;">, [dostęp: 21.05.2018].</span></li>
 	<li style="font-weight: 400;"><span style="font-weight: 400;">Krzysztofik Z., </span><i><span style="font-weight: 400;">Jakiego sprzętu potrzebuję na start?</span></i><span style="font-weight: 400;"> [online] </span><a href="https://ipw.info.pl/jakiego-sprzetu-potrzebuje-na-start/"><span style="font-weight: 400;">https://ipw.info.pl/jakiego-sprzetu-potrzebuje-na-start/</span></a><span style="font-weight: 400;">, [dostęp: 21.05.2018].</span></li>
 	<li style="font-weight: 400;"><span style="font-weight: 400;">Krzysztofik Z., </span><i><span style="font-weight: 400;">Jerzy Płonka- niewidomy wspinacz</span></i><span style="font-weight: 400;"> [online] </span><a href="http://climb.pl/2017/jerzy-plonka-niewidomy-wspinacz/"><span style="font-weight: 400;">http://climb.pl/2017/jerzy-plonka-niewidomy-wspinacz/</span></a><span style="font-weight: 400;">, [dostęp:</span><span style="font-weight: 400;">&nbsp;</span><span style="font-weight: 400;">21.05.2018].</span></li>
 	<li style="font-weight: 400;"><span style="font-weight: 400;">Maliński P., </span><i><span style="font-weight: 400;">Szablony Django</span></i><span style="font-weight: 400;"> [online] </span><a href="http://www.python.rk.edu.pl/w/p/szablony-django/"><span style="font-weight: 400;">http://www.python.rk.edu.pl/w/p/szablony-django/</span></a><span style="font-weight: 400;">, [dostęp: 21.05.2018].</span></li>
 	<li style="font-weight: 400;"><span style="font-weight: 400;">Mecherzyński-Wiktor A., Akademia Wspinania Mazda [online] </span><a href="http://www.akademiawspinaniamazda.pl/"><span style="font-weight: 400;">http://www.akademiawspinaniamazda.pl/</span></a><span style="font-weight: 400;">, [dostęp: 21.05.2018].</span></li>
 	<li style="font-weight: 400;"><span style="font-weight: 400;">Petzl, </span><i><span style="font-weight: 400;">The world’s best belayer</span></i><span style="font-weight: 400;"> [online] </span><a href="https://www.youtube.com/watch?v=NJHVgkchcbw"><span style="font-weight: 400;">https://www.youtube.com/watch?v=NJHVgkchcbw</span></a><span style="font-weight: 400;">, [dostęp: 21.05.2018].</span></li>
 	<li style="font-weight: 400;"><span style="font-weight: 400;">Petzl, </span><i><span style="font-weight: 400;">The world’s worst belayer</span></i><span style="font-weight: 400;"> [online] </span><a href="https://www.youtube.com/watch?v=V9hsWjA3SmU"><span style="font-weight: 400;">https://www.youtube.com/watch?v=V9hsWjA3SmU</span></a><span style="font-weight: 400;">, [dostęp: 21.05.2018].</span></li>
 	<li style="font-weight: 400;"><i><span style="font-weight: 400;">Skala trudności dróg skalnych</span></i><span style="font-weight: 400;">, [brak inf. o aut.] [online] </span><a href="https://pl.wikipedia.org/wiki/Skala_trudno%C5%9Bci_dr%C3%B3g_skalnych"><span style="font-weight: 400;">https://pl.wikipedia.org/wiki/Skala_trudno%C5%9Bci_dr%C3%B3g_skalnych</span></a><span style="font-weight: 400;">, [dostęp: 21.05.2018].</span></li>
 	<li style="font-weight: 400;"><i><span style="font-weight: 400;">Skale trudności dróg wspinaczkowych</span></i><span style="font-weight: 400;"> [online] </span><a href="http://climb.pl/poradnik-site/skale-wspinaczkowe/"><span style="font-weight: 400;">http://climb.pl/poradnik-site/skale-wspinaczkowe/</span></a><span style="font-weight: 400;">, [dostęp: 21.05.2018].</span></li>
 	<li style="font-weight: 400;"><i><span style="font-weight: 400;">Wspinaczka</span></i><span style="font-weight: 400;">, [brak inf. o aut.] [online] </span><a href="https://pl.wikipedia.org/wiki/Wspinaczka"><span style="font-weight: 400;">https://pl.wikipedia.org/wiki/Wspinaczka</span></a><span style="font-weight: 400;">, [dostęp: 21.05.2018].</span></li>
</ol>

            </div>
        </div>
    </div>
</section>

    {% endblock %}

    {% block categories %}
        {% include 'categories.html' with categories=categories %}
    {% endblock %}

{% endblock %}